html {
    box-sizing: border-box;
    margin: 0;
    padding: 0 60px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* OTHER PACKAGES */
.title_box {
    width: 1440px;
    text-align:center;
    margin-bottom: 65px;
}

/* 중간 내용 */
.body_set {
    width:1440px;
    height:550px;
    margin-left: 165px;
}

/* NEWSLETTER */
.bottom_space {
    display: inline-block;
    width: 100%;
    height:260px;
}

.teduri_left{
    border-radius: 8px 0px 0px 8px;
}

.teduri_right{
    border-radius: 0px 8px 8px 0px;
}

.teduri_top{
    border-radius: 8px 8px 0px 0px;
}

.teduri_bottom{
    border-radius: 0px 0px 8px 8px;
}

.relative {
    position: relative;
}
.bottom-2 {
    top: -2px;
}

.maincolor{ background-color: #0A223D; }
.marginleft{margin-left: 30px;}


.book-now{
    width: 120px;
    height: 40px;
    line-height: 40px;
    margin-right: 21px;
    float: right;
    background: #EC1F46;
    border-radius: 4px;
    text-align:center;
}

.newscontainer{
    margin: 98px 0 87px 354px;
}

.img{

    position: relative;
    background-image: url('../res/bottomimage.png');
    height: 260px;
    width: 100%;
}

.img-cover{
    position: absolute;
    height: 260px;
    width: 100%;
    background-color: rgba(10,34,61,0.8);
    z-index:1;
}

.img .subscribe{
    margin: 98px 0 87px 354px;
    position: absolute;
    font-size: 24px;
    z-index: 2;
    text-align: center;
}

.img .letterText{
    font-size: 36px;
    text-transform: uppercase;
}