/* Other Packages */
.pagename{
    position: absolute;
    width: 327px;
    height: 45px;
    left: 556px;
    top: 40px;

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;

    /* Gray 1 */
    color: #333333;
    white-space:pre;
}


.grid {
    width: 500px;
    margin: 0 auto;
    background-color: dimgrey;
    overflow: hidden; /*부모 높이를 잊어벼리기때문에 다시 높이를 생기게끔해주는 float해재 기법*/
}

.grid_item {
    width: 100px;
    height: 100px;
    float: left; /*가로 정렬을 하기위한 float*/
}

.grid_item.first {background-color: orange;}
.grid_item.two {background-color: yellowgreen;}

.layout-Wrapper2{

}