.title_box {
    width: 100%;
    height: 150px;
}

.body_set {
    width:100%;
    height:550px;
    float:left;
    border-bottom-width:thin;
    border-bottom-color:rgba(25,80,100,0);
    border-bottom:solid;
}

.bottom_space {
    margin-top: 1250px;
    width:100%;
    height:260px;
}




.teduri_left{
    border-radius: 8px 0px 0px 8px;
}

.teduri_right{
    border-radius: 0px 8px 8px 0px;
}

.teduri_top{
    border-radius: 8px 8px 0px 0px;
}

.teduri_bottom{
    border-radius: 0px 0px 8px 8px;
}

.relative {
    position: relative;
}
.top-2 {
    top: -3px;
}


.color1{ background-color: #0A223D; }
.marginleft{margin-left: 30px;}


/*안씀*/
.float-frame {
    padding-left: 165px;
    padding-top: 65px;
    overflow: hidden;
}

.float-unit {
    width: 50px;
    background: #fff;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;

    float: left; /*가로로 나열*/
}
.

.book-now{
    /*rectangular*/

    position: absolute;
    width: 120px;
    height: 40px;
    left: 1134px;
    top: 1115px;

    background: #EC1F46;
    border-radius: 4px;
}